* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

body {
  font-family: "proxima-nova", sans-serif; }

p {
  color: rgba(0, 0, 0, 0.8); }

a {
  text-decoration: none; }

.b-logo {
  color: rgba(255, 255, 255, 0.4);
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 10px; }

.b-textfield {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  width: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); }
  .b-textfield:focus {
    outline: none;
    background-color: white;
    transition: all 0.4s ease; }
  @media (max-width: 600px) {
    .b-textfield {
      display: block; } }

.b-textfield::-webkit-input-placeholder {
  color: white; }

.b-textfield:-moz-placeholder {
  color: white; }

.b-textfield::-moz-placeholder {
  color: white; }

.b-textfield:-ms-input-placeholder {
  color: white; }

.b-textfield:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8); }

.b-textfield:focus:-moz-placeholder {
  color: rgba(0, 0, 0, 0.8); }

.b-textfield:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.8); }

.b-textfield:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8); }

.b-textfield.m-invalid::-webkit-input-placeholder {
  color: #9d3838; }

.b-textfield.m-invalid:-moz-placeholder {
  color: #9d3838; }

.b-textfield.m-invalid::-moz-placeholder {
  color: #9d3838; }

.b-textfield.m-invalid:-ms-input-placeholder {
  color: #9d3838; }

.b-textfield.m-valid::-webkit-input-placeholder {
  color: #497f49; }

.b-textfield.m-valid:-moz-placeholder {
  color: #497f49; }

.b-textfield.m-valid::-moz-placeholder {
  color: #497f49; }

.b-textfield.m-valid:-ms-input-placeholder {
  color: #497f49; }

.b-textfield.m-invalid,
.b-textfield.m-valid {
  background-color: rgba(255, 255, 255, 0.8); }

.b-button {
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
  @media (max-width: 600px) {
    .b-button {
      display: block; } }

.b-button.m-naked {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: none; }

.b-checkbox {
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .5px; }
  .b-checkbox input[type="checkbox"] {
    margin-right: 10px; }

.b-dropdown {
  padding: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  width: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  position: relative;
  border-radius: 0;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); }
  .b-dropdown option:before {
    content: "claudio"; }

.b-navigation {
  background-color: #048ab3; }
  .b-navigation .e-top-bar {
    display: flex;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center; }
    .b-navigation .e-top-bar .e-logo {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
      flex: 1;
      letter-spacing: 1px; }
    .b-navigation .e-top-bar .e-user-utils {
      padding: 10px 0; }
    .b-navigation .e-top-bar .e-post {
      color: white;
      padding: 10px;
      opacity: .6;
      vertical-align: top; }
    .b-navigation .e-top-bar .e-user-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
  .b-navigation .e-main-nav {
    display: flex; }
    .b-navigation .e-main-nav .e-nav-item {
      flex: 1;
      color: white;
      padding: 20px 0;
      text-align: center;
      font-size: 14px; }
    .b-navigation .e-main-nav .e-nav-item:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    .b-navigation .e-main-nav .material-icons {
      font-size: 30px;
      display: block;
      margin-bottom: 6px;
      opacity: .4; }

.b-profile-summary {
  position: fixed;
  right: 100%;
  height: 100vh;
  top: 0; }

.b-profile-summary.m-active {
  width: 70%;
  background-color: #333;
  right: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding: 20px;
  letter-spacing: .6px; }
  .b-profile-summary.m-active .e-user-picture {
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .b-profile-summary.m-active .e-name {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px; }
  .b-profile-summary.m-active .e-edit-profile {
    color: white; }
  .b-profile-summary.m-active .e-menu {
    margin: 50px 0 80px; }
    .b-profile-summary.m-active .e-menu a {
      display: block;
      padding: 10px 0;
      color: white; }
      .b-profile-summary.m-active .e-menu a:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  .b-profile-summary.m-active .e-govlab-logo {
    background-image: url("../img/govlab-logo-white.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 40px;
    opacity: .2; }

.b-onboarding {
  text-align: center;
  color: white;
  background-color: #048ab3;
  display: flex;
  flex-flow: column;
  min-height: 100vh; }
  .b-onboarding header {
    height: 12vh; }
  .b-onboarding section {
    flex: 1; }
  .b-onboarding .e-onboarding-message {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 20px 30px; }
  .b-onboarding.m-signup-confirmation .e-onboarding-message {
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-top: 120px; }
  .b-onboarding .e-onboarding-form {
    padding: 0 30px; }
    .b-onboarding .e-onboarding-form .b-button {
      margin-top: 20px;
      margin-bottom: 10px; }
    .b-onboarding .e-onboarding-form .b-textfield,
    .b-onboarding .e-onboarding-form .b-dropdown {
      margin-bottom: 10px; }
  .b-onboarding .e-password-reminder {
    margin-top: 20px;
    color: white;
    display: inline-block; }
  .b-onboarding .e-signup {
    padding: 20px 30px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); }
    .b-onboarding .e-signup a {
      color: white;
      font-weight: 600;
      text-decoration: none; }
  .b-onboarding .e-confirmed {
    font-size: 48px;
    margin: 20px 0 0; }
  .b-onboarding .e-category-menu {
    padding: 20px 30px 0; }
    .b-onboarding .e-category-menu .e-category {
      box-sizing: border-box;
      display: inline-block;
      padding: 30px 0;
      background-color: rgba(255, 255, 255, 0.1);
      margin: 2px 0;
      width: calc(50% - 10px);
      color: white;
      font-size: 16px;
      height: 110px;
      vertical-align: middle; }
  .b-onboarding .e-signup-progress {
    height: 7vh; }
    .b-onboarding .e-signup-progress span {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      display: inline-block;
      height: 12px;
      width: 12px;
      margin: 0 5px;
      vertical-align: middle; }
    .b-onboarding .e-signup-progress .m-current {
      background-color: white;
      height: 16px;
      width: 16px; }

.ui-bg {
  width: 100%; }

.b-onboarding-questions {
  position: absolute;
  top: 8vh;
  left: 7%;
  width: 82%; }
  .b-onboarding-questions .e-card {
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    padding-bottom: 30px; }
    .b-onboarding-questions .e-card .e-card-category {
      background-color: #ed5c42;
      margin-top: 0;
      padding: 6px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 16px; }
    .b-onboarding-questions .e-card form {
      margin-left: 20px;
      margin-right: 20px; }
    .b-onboarding-questions .e-card .e-question {
      font-size: 18px;
      margin: 30px 20px; }
    .b-onboarding-questions .e-card .b-button {
      margin-bottom: 10px;
      color: white; }
    .b-onboarding-questions .e-card .b-button.m-guide {
      background-color: #523080; }
    .b-onboarding-questions .e-card .b-button.m-do {
      background-color: #008793; }
    .b-onboarding-questions .e-card .b-button.m-connect {
      background-color: #d9b549; }
    .b-onboarding-questions .e-card .b-button.m-learn {
      background-color: #ed5c42; }
    .b-onboarding-questions .e-card .b-button.m-skip {
      background-color: transparent;
      color: rgba(0, 0, 0, 0.3) !important;
      box-shadow: none; }
  .b-onboarding-questions .e-card:first-of-type {
    z-index: 100; }
  .b-onboarding-questions .e-card:nth-of-type(2) {
    z-index: 99;
    transform: translate(10px, 10px); }
  .b-onboarding-questions .e-card:nth-of-type(3) {
    z-index: 98;
    transform: translate(20px, 20px); }

.b-contextual-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  margin: 0;
  overflow-x: scroll; }
  .b-contextual-nav .e-menu-items {
    padding: 0;
    margin: 0;
    width: auto;
    white-space: nowrap;
    text-align: center;
    margin-left: 115px; }
  .b-contextual-nav .e-item {
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 40px; }
    .b-contextual-nav .e-item.m-active {
      transform: scale(1.3);
      color: rgba(255, 255, 255, 0.8);
      font-weight: 600; }

.b-activity-feed .e-activity-feed-container {
  margin: 0;
  padding: 0; }
.b-activity-feed .e-feed-item {
  list-style: none;
  margin: 0;
  padding: 15px 20px;
  display: flex; }
.b-activity-feed .e-feed-item:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05); }
.b-activity-feed .e-user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px; }
.b-activity-feed .e-feed-message {
  flex: 1; }
  .b-activity-feed .e-feed-message p {
    margin: 10px 0; }
  .b-activity-feed .e-feed-message .e-more {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 600; }
    .b-activity-feed .e-feed-message .e-more:hover {
      color: #048ab3; }
.b-activity-feed .e-actions {
  color: rgba(0, 0, 0, 0.4); }
  .b-activity-feed .e-actions:hover {
    color: #048ab3; }

/*# sourceMappingURL=styles.css.map */
